{% extends 'hemato/base.html' %}

{% block title %}  Hemato DataBase | nouveau patient{% endblock %}


{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a href="">Informations générales <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'facris' id %}">Facteur de risques cardiovasculaire</a></li>
        <li><a href="{% url 'epTr' id %}">Episodes trombotique</a></li>
        <li><a href="{% url 'atcd' id %}">Antecedent chirugicaux</a></li>
        <li><a href="{% url 'trRec' id %}">Thromboses récidivantes</a></li>
        <li><a href="{% url 'pathoMaligne' id %}">Thrombose et oncologie</a></li>
        <li><a href="{% url 'compVasGI' id %}">Complications vasculaires de la grossesse et infertilité</a></li>
        <li><a href="{% url 'bilanBio' id %}">Bilan biologique</a></li>
        <li class="active"><a href="">Consultation de suivi, à l’arrêt du traitement</a></li>
        <li><a href="{% url 'ExamenArret' id %}">Examens à faire à l’arrêt du traitement : Hypercoagulabilité </a></li>
        <li><a href="{% url 'Recommandation' id %}">Recommandations thérapeutiques – Suivi sous traitement </a></li>


    </ul>
{% endblock %}


{% block content %}

    <div class="container-fluid">
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6  col-sm-8  ">

            <form class="form-horizontal" method="post">
                {% csrf_token %}

                <div id="div_id_password1" class="form-group ">
                    <label for="" class="control-label col-md-4" style="text-align: left">Date de consultation :</label>
                    <div class="controls col-md-8 ">
                        <input class="input-md textinput textInput form-control" id="id_password1" name="date"
                               placeholder="" style="margin-bottom: 10px" type="date"/>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Traitement
                        antithrombotique en cours: </label>
                    <div class="controls col-md-2 ">
                        <select class="form-control" onchange="yesnoCheck2('1')" id="ynCheck1" name="site_initiale">
                            <option value="0">non</option>
                            <option value="1">oui</option>
                        </select>
                    </div>
                </div>

                <div id="field_1" style="display:none">
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left">Lequel:</label>
                        <div class="controls col-md-8 ">
                            <select class="form-control" id="sel1" name="traitemnt_precedent">
                                <option value="12"></option>
                                <option value="1">Arixtra</option>
                                <option value="2">lexiana</option>
                                <option value="3">AVK</option>
                                <option value="4">heparine non fractionel</option>
                                <option value="5">arganova</option>
                                <option value="6">Eliquis</option>
                                <option value="7">Xarelto</option>
                                <option value="8">Fragmine</option>
                                <option value="9">Innohep</option>
                                <option value="10">Lovenox</option>
                                <option value="11">Pradaxa</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Episode
                        thrombotique: </label>
                    <div class="controls col-md-2 ">
                        <select class="form-control" onchange="yesnoCheck2('2')" id="ynCheck2" name="site_initiale">
                            <option value="0">non</option>
                            <option value="1">oui</option>
                        </select>
                    </div>
                </div>
                <div id="field_2" style="display:none">
                    <div class="form-group ">
                        <label for="" class="control-label col-md-4" style="text-align: left">Lequel:</label>
                        <div class="controls col-md-8 ">
                            <input class="input-md textinput textInput form-control" id="id_password1" name="date"
                                   placeholder="" style="margin-bottom: 10px" type="text"/>
                        </div>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Episode hemoragique
                        : </label>
                    <div class="controls col-md-2 ">
                        <select class="form-control" onchange="yesnoCheck2('10')" id="ynCheck10" name="site_initiale">
                            <option value="0">non</option>
                            <option value="1">oui</option>
                        </select>
                    </div>
                </div>


                <div id="field_10" style="display:none">
                    <div id="div_id_password1" class="form-group ">
                        <label for="" class="control-label col-md-4" style="text-align: left">Date de survenue :</label>
                        <div class="controls col-md-8 ">
                            <input class="input-md textinput textInput form-control" id="id_password1" name="date"
                                   placeholder="" style="margin-bottom: 10px" type="date"/>
                        </div>
                    </div>
                </div>


                <div class="form-group ">
                    <label for="" class="control-label col-md-4" style="text-align: left">Complication de traitement
                        anticoagulant:</label>
                    <div class="controls col-md-8 ">
                        <input class="input-md textinput textInput form-control" id="id_password1" name="date"
                               placeholder="" style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="" class="control-label col-md-4" style="text-align: left">Manifestation de nouvelle
                        pathologie :</label>
                    <div class="controls col-md-8 ">
                        <input class="input-md textinput textInput form-control" id="id_password1" name="date"
                               placeholder="" style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Grossesse en cours
                        : </label>
                    <div class="controls col-md-2 ">
                        <select class="form-control" id="sel1" name="site_initiale">
                            <option value="1">oui</option>
                            <option value="0">non</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="" class="control-label col-md-4" style="text-align: left">Commentaires :</label>
                    <div class="controls col-md-8 ">
                        <input class="input-md textinput textInput form-control" id="id_password1" name="date"
                               placeholder="" style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>

                <div id="div_id_id_p" class="form-group " style="visibility: hidden">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> id_p<span
                            class="asteriskField">*</span> </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="patient_idpatient" placeholder=""
                               style="margin-bottom: 10px" type="text" value="{{ id }}"/>
                    </div>
                </div>

                <div class="col-md-8">
                    <input class="btn btn-default" type="submit" value="Save" class="default" name="save"/>
                </div>


            </form>
        </div>


    </div>


{% endblock %}
