{% extends 'hemato/base.html' %}

{% block title %}  Hemato DataBase {% endblock %}


{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a href="">Informations générales <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'facris' id %}">Facteur de risque cardiovasculaire</a></li>
        <li class="active"><a href="{% url 'epTr' id %}">Episodes thrombotiques</a></li>
        <li><a href="{% url 'atcd' id %}">Antecedents chirugicaux</a></li>
        <li><a href="{% url 'trRec' id %}">Antécédents thrombotiques</a></li>
        <li><a href="{% url 'pathoMaligne' id %}">Thrombose et oncologie</a></li>
        <li><a href="{% url 'compVasGI' id %}">Complications vasculaires de la grossesse etinfertilité</a></li>
        <li><a href="{% url 'bilanBio' id %}">Bilan biologique</a></li>
        <li><a href="{% url 'consulsuivi' id %}">Consultation de suivi</a></li>
         

    </ul>

{% endblock %}


{% block content %}


    <div class="container-fluid">
        <input type="button" class="btn btn-info" value=" Ajouter une trombose veineuse"
               onclick="location.href = '{% url 'trVe' id %}';"><BR><BR>
        <input type="button" class="btn btn-info" value=" Ajouter une trombose arterielle"
               onclick="location.href = '{% url 'trAr' id %}';"><BR><BR>
        <input type="button" class="btn btn-default" value=" Continuer"
               onclick="location.href = '{% url 'atcd' id %}';">

    </div>


{% endblock %}
