{% extends 'hemato/base.html' %}

{% block title %}  Hemato DataBase | nouveau patient{% endblock %}


{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a href="">Informations générales <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'facris' id %}">Facteur de risque cardiovasculaire</a></li>
        <li class="active"><a href="{% url 'epTr' id %}">Episodes thrombotique</a></li>
        <li><a href="{% url 'atcd' id %}">Antecedents chirugicaux</a></li>
        <li><a href="{% url 'trRec' id %}">Antécédents thrombotiques</a></li>
        <li><a href="{% url 'pathoMaligne' id %}">Thrombose et oncologie</a></li>
        <li><a href="{% url 'compVasGI' id %}">Complications vasculaires de la grossesse et infertilité</a></li>
        <li><a href="{% url 'bilanBio' id %}">Bilan biologique</a></li>
        <li><a href="{% url 'consulsuivi' id %}">Consultation de suivi</a></li>
         

    </ul>
{% endblock %}


{% block content %}
    {% comment %}<h1>Hello sam</h1>
    <button type="button" class="btn btn-default">click me!</button>{% endcomment %}
    <h2>Thrombose arteriel</h2>
    <div class="container-fluid">

        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6  col-sm-8  ">

            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Localisation Thrombose
                        artérielle :</label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="localisation">
                            <option value="1">AVC ischémique</option>
                            <option value="2">Infarctus du myocarde</option>
                            <option value="3">Localisation rare</option>
                            <option value="4">Thrombose artérielle des MI</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date du diagnostic
                        : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="date_diagnostic" placeholder=""
                               style="margin-bottom: 10px" type="date"/>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Imagerie diagnostique
                        : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="imagerie_diagnostique">
                            <option value="1">Angiographie</option>
                            <option value="2">Echodoppler</option>
                            <option value="3">IRM</option>
                            <option value="4">Scanner</option>
                            <option value="5">Autre</option>
                        </select>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Traitement
                        antithrombotique : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="traitement_antithrombotique">
                            <option value="1">Arixtra</option>
                            <option value="2">lexiana</option>
                            <option value="3">AVK</option>
                            <option value="4">heparine non fractionel</option>
                            <option value="5">arganova</option>
                            <option value="6">Eliquis</option>
                            <option value="7">Xarelto</option>
                            <option value="8">Fragmine</option>
                            <option value="9">Innohep</option>
                            <option value="10">Lovenox</option>
                            <option value="11">Pradaxa</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Dose : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="dose" placeholder=""
                               style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date d'initiation du
                        traitement : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="date_init_traitement"
                               placeholder="" style="margin-bottom: 10px" type="date"/>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Durée: </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="duree_traitement"
                               placeholder="mois" style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Changement de
                        traitement : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="ynCheck1" onchange="yesnoCheck1('1')" name="changement_traitemnt">
                            <option value="non">non</option>
                            <option value="oui">oui</option>
                        </select>
                    </div>
                </div>

                <div id="field_1" style="display:none">
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Ancien traitement
                            : </label>
                        <div class="controls col-md-8 ">
                            <select class="form-control" id="sel1" name="traitemnt_precedent">
                                <option value="12"></option>
                                <option value="1">Arixtra</option>
                                <option value="2">lexiana</option>
                                <option value="3">AVK</option>
                                <option value="4">heparine non fractionel</option>
                                <option value="5">arganova</option>
                                <option value="6">Eliquis</option>
                                <option value="7">Xarelto</option>
                                <option value="8">Fragmine</option>
                                <option value="9">Innohep</option>
                                <option value="10">Lovenox</option>
                                <option value="11">Pradaxa</option>
                            </select>
                        </div>
                    </div>
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Dose : </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textInput form-control" id="id1" name="dose_prec" placeholder=""
                                   style="margin-bottom: 10px" type="text"/>
                        </div>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Récidive: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="ynCheck2" onchange="yesnoCheck2('2')" name="recidive">
                            <option value="0">non</option>
                            <option value="1">oui</option>
                        </select>
                    </div>
                </div>


                <div id="field_2" style="display:none">
                    <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date de Recidive en
                        cours de traitement antithrombotique: </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="recdtat_date" placeholder=""
                               style="margin-bottom: 10px" type="date"/>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Type de récidive
                        : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="recdtat_type">
                            <option value="4"></option>
                            <option value="1">Aggravation/reapparition des symptomes</option>
                            <option value="2">Extension du thrombus vue a l'imagerie</option>
                            <option value="3">Nouvelle thrombose</option>

                        </select>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Localisation : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="recdtat_localisation"
                               placeholder="" style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Hémoragie: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="ynCheck3" onchange="yesnoCheck2('3')" name="hemoragie">
                            <option value="0">non</option>
                            <option value="1">oui</option>
                        </select>
                    </div>
                </div>

                <div id="field_3" style="display:none">
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date de l'hémoragie
                            : </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textInput form-control" id="id1" name="date_hemor" placeholder=""
                                   style="margin-bottom: 10px" type="date"/>
                        </div>
                    </div>
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Charactere de
                            l'hémoragie: </label>
                        <div class="controls col-md-8 ">
                            <select class="form-control" id="sel1" name="charactere_hemor">
                                <option value="oui">spontané</option>
                                <option value="non">provoqué</option>
                            </select>
                        </div>
                    </div>
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Localisation de
                            l'hémoragie : </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textInput form-control" id="id1" name="local_hemor" placeholder=""
                                   style="margin-bottom: 10px" type="text"/>
                        </div>
                    </div>
                </div>
                <div id="div_id_id_p" class="form-group " style="visibility: hidden">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> id_p<span
                            class="asteriskField">*</span> </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="patient_idpatient" placeholder=""
                               style="margin-bottom: 10px" type="text" value="{{ id }}"/>
                    </div>
                </div>


                <input class="btn btn-default" type="submit" value="Save" class="default" name="save"/>

            </form>
        </div>
    </div>


{% endblock %}
