{% extends 'hemato/base.html' %}

{% block title %}  Hemato DataBase | nouveau patient{% endblock %}


{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a href="">Informations générales <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'facris' id %}">Facteur de risques cardiovasculaire</a></li>
        <li><a href="{% url 'epTr' id %}">Episodes trombotique</a></li>
        <li><a href="{% url 'atcd' id %}">Antecedent chirugicaux</a></li>
        <li class="active"><a href="{% url 'trRec' id %}">Antécédent thrombotiques</a></li>
        <li><a href="{% url 'pathoMaligne' id %}">Thrombose et oncologie</a></li>
        <li><a href="{% url 'compVasGI' id %}">Complications vasculaires de la grossesse et infertilité</a></li>
        <li><a href="{% url 'bilanBio' id %}">Bilan biologique</a></li>
        <li><a href="{% url 'consulsuivi' id %}">Consultation de suivi</a></li>
        <li><a href="{% url 'ExamenArret' id %}">Examens à faire à l’arrêt du traitement : Hypercoagulabilité </a></li>
        <li><a href="{% url 'Recommandation' id %}">Recommandations thérapeutiques – Suivi sous traitement </a></li>

    </ul>
{% endblock %}


{% block content %}
    {% comment %}<h1>Hello sam</h1>
    <button type="button" class="btn btn-default">click me!</button>{% endcomment %}
    <div class="container-fluid">
        <input type="button" class="btn btn-info" value=" ajouter une episode récidivantes "
               onclick="location.href = '{% url 'trRec' id %}';"><BR><BR>
        <h2>Traitement anticoagulant au moment de la thrombose récidivante:</h2>

        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6  col-sm-8  ">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Aucun: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="antiagregants_plaq">
                            <option value="1">oui</option>
                            <option value="0">non</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Arret depuis : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="tamt_arret_depuis" placeholder=""
                               style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Antiagrégants
                        plaquettaires : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="antiagregants_plaq">
                            <option value="1">Aspirine</option>
                            <option value="2">ASPEGIC®</option>
                            <option value="3">BRILIQUE®</option>
                            <option value="4">EFIENT®</option>
                            <option value="5">KARDEGIC®</option>
                            <option value="6">PLAVIX®</option>
                        </select>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Heparine: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="heparine">
                            <option value="1">oui</option>
                            <option value="0">non</option>
                        </select>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Dernière valeur anti-Xa
                        : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="dernier_val_antxa" placeholder=""
                               style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date de dernière valeur anti-Xa: </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="date_dva" placeholder=""
                               style="margin-bottom: 10px" type="date"/>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> AVK: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="avk">
                            <option value="1">oui</option>
                            <option value="0">non</option>
                        </select>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Dernière inr : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="dernier_inr" placeholder=""
                               style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date dernière inr : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="date_di" placeholder=""
                               style="margin-bottom: 10px" type="date"/>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> AOD: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="aod">
                            <option value="1">oui</option>
                            <option value="0">non</option>
                        </select>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Compliance au
                        traitement : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="comp_trait">
                            <option value="1">oui</option>
                            <option value="0">non</option>
                        </select>
                    </div>
                </div>


                <div id="div_id_id_p" class="form-group " style="visibility: hidden">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> id_p<span
                            class="asteriskField">*</span> </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="patient_idpatient" placeholder=""
                               style="margin-bottom: 10px" type="text" value="{{ id }}"/>
                    </div>
                </div>

                <div class="col-md-8">
                    <input class="btn btn-default" type="submit" value="Save" class="default" name="save"/>
                </div>


            </form>
        </div>

    </div>


{% endblock %}
