{% extends 'hemato/base.html' %}

{% block title %}  Hemato DataBase | nouveau patient{% endblock %}


{% block sidebar %}

    <ul class="nav nav-sidebar">
        <li><a href="">Informations générales <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'facris' id %}">Facteur de risque cardiovasculaire</a></li>
        <li><a href="{% url 'epTr' id %}">Episodes thrombotique</a></li>
        <li><a href="{% url 'atcd' id %}">Antecedents chirugicaux</a></li>
        <li class="active"><a href="{% url 'trRec' id %}">Antécédents thrombotiques</a></li>
        <li><a href="{% url 'pathoMaligne' id %}">Thrombose et oncologie</a></li>
        <li><a href="{% url 'compVasGI' id %}">Complications vasculaires de la grossesse et infertilité</a></li>
        <li><a href="{% url 'bilanBio' id %}">Bilan biologique</a></li>
        <li><a href="{% url 'consulsuivi' id %}">Consultation de suivi</a></li>
         

    </ul>
{% endblock %}


{% block content %}
    {% comment %}<h1>Hello sam</h1>
    <button type="button" class="btn btn-default">click me!</button>{% endcomment %}
    <div class="container-fluid">

        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6  col-sm-8  ">
            <form class="form-horizontal" method="post">
                {% csrf_token %}

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="date" placeholder="1er"
                               style="margin-bottom: 10px" type="date"/>
                    </div>
                </div>




                <script type="text/javascript">
                    l = ["","","",""];
                    local = "";
                    function un(x){
                        var ele = document.getElementsByName(x);
                        for(var i=0;i<ele.length;i++)
                            ele[i].checked = false;
                    }
                    function selectElement(){
                        un('1');
                        un('2');
                        un('3');
                        document.getElementById('tvp').style["display"] = 'none';
                        document.getElementById('ep').style["display"] = 'none';
                        document.getElementById('tlr').style["display"] = 'none';
                        var e = document.getElementById("lis");
                        var index = e.options[e.selectedIndex].value;

                        l = [index,"","",""];
                        document.getElementById('loca').value = l.join(" ");
                        document.getElementById(index).style["display"] = 'block';
                    }
                    function selectSubElement(x) {
                        l[x] = document.querySelector('input[name=\"'+x+'\"]:checked').value;
                        //console.log(document.querySelector('input[name=\"'+x+'\"]:checked').value)
                        //console.log(l)
                        document.getElementById('loca').value = l.join(" ");
                    }
                </script>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> veine:</label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="lis" name="conditions" onchange="selectElement()">
                            <option value=""></option>
                            <option value="tvp">thrombose veineuse profonde</option>
                            <option value="ep">embolie pulmonaire</option>
                            <option value="tlr">thrombose localisation rare</option>
                            <option value="tvs">thrombose localisation specefique</option>

                        </select>
                    </div>
                </div>

                <div id="" class="form-group " >
                    <div id="tvp" class="controls col-md-8 " style="display:none">
                        <fieldset id="1" onchange="selectSubElement(1)">
                            <input type="radio" name="1" value="Droite"> Droite
                            <input type="radio" name="1" value="Gauche"> Gauche<br>
                        </fieldset>
                        <fieldset id="2" onchange="selectSubElement(2)">
                            <input type="radio" name="2" value="Distale">  Distale
                            <input type="radio" name="2" value="Proximale"> Proximale<br>
                        </fieldset>
                        <fieldset id="3"onchange="selectSubElement(3)">
                            <input type="radio" name="3" value="Symptomatique">  Symptomatique
                            <input type="radio" name="3" value="Asymptomatique"> Asymptomatique<br>
                        </fieldset>
                        <hr>
                    </div>

                    <div id="ep" class="controls col-md-10 " style="display:none">
                        <fieldset id="1" onchange="selectSubElement(1)">
                            <input type="radio" name="1" value="gauche">  gauche
                            <input type="radio" name="1" value="Droite"> Droite
                            <input type="radio" name="1" value="Bilatirlale"> Bilatirlale<br>
                        </fieldset>
                        <fieldset id="2" onchange="selectSubElement(2)">
                            <input type="radio" name="2" value="Lobaire"> Lobaire
                            <input type="radio" name="2" value="Segmentaire"> Segmentaire<br>
                            <input type="radio" name="2" value="Sousegmentaire"> Sousegmentaire<br>
                        </fieldset>
                        <fieldset id="3" onchange="selectSubElement(3)">
                            <input type="radio" name="3" value="Symptomatique">  Symptomatique
                            <input type="radio" name="3" value="Asymptomatique"> Asymptomatique<br>
                        </fieldset>
                        <hr>
                    </div>
                    <div id="tlr" class="controls col-md-8 " style="display:none">
                        <fieldset id="1" onchange="selectSubElement(1)">
                            <input type="radio" name="1" value="Celebrale"> Celebrale
                            <input type="radio" name="1" value="mesenterique"> mesenterique
                            <input type="radio" name="1" value="Portale"> Portale<br>
                        </fieldset>
                        <hr>
                    </div>
                </div>
                <div id="" class="form-group " >
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"></label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="loca" name="veine" placeholder=""
                               style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Artère : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="artere">
                            <option value="4"></option>
                            <option value="1">AVC ischémique</option>
                            <option value="2">Infarctus du myocarde</option>
                            <option value="3">Localisation rare</option>
                            <option value="3">Thrombose artérielle des MI</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Facteur(s)
                        déclenchant(s) : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="facteur_declenchants"
                               placeholder="1er" style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Durée du traitement
                        anticoagulant : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="duree">
                            <option value="1"><3 mois</option>
                            <option value="2">3 mois</option>
                            <option value="3">6 mois</option>
                            <option value="4">1 an</option>
                            <option value="5">2 ans</option>
                            <option value="6">3 ans</option>
                            <option value="7">4 ans</option>
                            <option value="8">>4 ans</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> traitement
                        anticoagulant : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="traitement_anticoagulant">
                            <option value="0">aucun</option>
                            <option value="1">rivaroxaban</option>
                            <option value="2">apixaban</option>
                            <option value="3">dabigatran</option>
                            <option value="4">edoxaban</option>
                            <option value="5">fondaparinux</option>
                            <option value="6">heparine non-fractionnée</option>
                            <option value="7">dalteparine</option>
                            <option value="8">tinzaparine</option>
                            <option value="9">enoxaparine</option>
                            <option value="10">argatrobane</option>
                            <option value="11">acénocoumarol</option>
                            <option value="12">fluidione</option>
                            <option value="13">warfarine</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Traitement antiplaquetaire  : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="traitement_antiplaquetaire">
                            <option value="0">aucun</option>
                            <option value="1">aspirin</option>
                            <option value="2">clopidogrel</option>
                            <option value="3">prasugrel</option>
                            <option value="4">ticagrelor</option>
                            <option value="5">anti GPIIbIIIa</option>
                            <option value="6">dipyridamole</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Traitement anticoagulant au moment de la thrombose: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="aucun">
                            <option value="1">oui</option>
                            <option value="0">non</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group " >
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left">Commentaire</label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="loca" name="commentaire" placeholder=""
                               style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>



                <div id="div_id_id_p" class="form-group " style="visibility: hidden">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> id_p<span
                            class="asteriskField">*</span> </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="patient_idpatient" placeholder=""
                               style="margin-bottom: 10px" type="text" value="{{ id }}"/>
                    </div>
                </div>



                <div class="col-md-8">
                    <input class="btn btn-default" type="submit" value="Save" class="default" name="save"/>
                </div>
            </form>
            <input type="button" class="btn btn-info" value="passer"
               onclick="location.href = '{% url 'pathoMaligne' id %}';"><BR><BR>
        </div>
    </div>


{% endblock %}
