{% extends 'hemato/base.html' %}

{% block title %}  Hemato DataBase | nouveau patient{% endblock %}


{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a href="">Informations générales <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'facris' id %}">Facteur de risque cardiovasculaire</a></li>
        <li class="active"><a href="{% url 'epTr' id %}">Episodes thrombotique</a></li>
        <li><a href="{% url 'atcd' id %}">Antecedents chirugicaux</a></li>
        <li><a href="{% url 'trRec' id %}">Antécédents thrombotiques</a></li>
        <li><a href="{% url 'pathoMaligne' id %}">Thrombose et oncologie</a></li>
        <li><a href="{% url 'compVasGI' id %}">Complications vasculaires de la grossesse et infertilité</a></li>
        <li><a href="{% url 'bilanBio' id %}">Bilan biologique</a></li>
        <li><a href="{% url 'consulsuivi' id %}">Consultation de suivi</a></li>
         

    </ul>
{% endblock %}


{% block content %}
    <h1>Thrombose veineuse</h1>
    <div class="container-fluid">

        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6  col-sm-8  ">

            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <script type="text/javascript">
                    l = ["","","",""];
                    local = "";
                    function un(x){
                        var ele = document.getElementsByName(x);
                        for(var i=0;i<ele.length;i++)
                            ele[i].checked = false;
                    }
                    function selectElement(){
                        un('1');
                        un('2');
                        un('3');
                        document.getElementById('tvp').style["display"] = 'none';
                        document.getElementById('ep').style["display"] = 'none';
                        document.getElementById('tlr').style["display"] = 'none';
                        var e = document.getElementById("lis");
                        var index = e.options[e.selectedIndex].value;
                        document.getElementById(index).style["display"] = 'block';
                        l = [index,"","",""];
                        document.getElementById('loca').value = l.join(" ");
                    }
                    function selectSubElement(x) {
                        l[x] = document.querySelector('input[name=\"'+x+'\"]:checked').value;
                        //console.log(document.querySelector('input[name=\"'+x+'\"]:checked').value)
                        //console.log(l)
                        document.getElementById('loca').value = l.join(" ");
                    }
                </script>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Localisation Thrombose veineuse:</label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="lis" name="conditions" onchange="selectElement()">
                            <option value=""></option>
                            <option value="tvp">thrombose veineuse profonde</option>
                            <option value="ep">embolie pulmonaire</option>
                            <option value="tlr">thrombose localisation rare</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group " >
                    <div id="tvp" class="controls col-md-8 " style="display:none">
                        <fieldset id="1" onchange="selectSubElement(1)">
                            <input type="radio" name="1" value="Droite"> Droite
                            <input type="radio" name="1" value="Gauche"> Gauche<br>
                        </fieldset>
                        <fieldset id="2" onchange="selectSubElement(2)">
                            <input type="radio" name="2" value="Distale">  Distale
                            <input type="radio" name="2" value="Proximale"> Proximale<br>
                        </fieldset>
                        <fieldset id="3"onchange="selectSubElement(3)">
                            <input type="radio" name="3" value="Symptomatique">  Symptomatique
                            <input type="radio" name="3" value="Asymptomatique"> Asymptomatique<br>
                        </fieldset>
                        <hr>
                    </div>

                    <div id="ep" class="controls col-md-10 " style="display:none">
                        <fieldset id="1" onchange="selectSubElement(1)">
                            <input type="radio" name="1" value="gauche">  gauche
                            <input type="radio" name="1" value="Droite"> Droite
                            <input type="radio" name="1" value="Bilatirlale"> Bilatirlale<br>
                        </fieldset>
                        <fieldset id="2" onchange="selectSubElement(2)">
                            <input type="radio" name="2" value="Lobaire"> Lobaire
                            <input type="radio" name="2" value="Segmentaire"> Segmentaire<br>
                            <input type="radio" name="2" value="Sousegmentaire"> Sousegmentaire<br>
                        </fieldset>
                        <fieldset id="3" onchange="selectSubElement(3)">
                            <input type="radio" name="3" value="Symptomatique">  Symptomatique
                            <input type="radio" name="3" value="Asymptomatique"> Asymptomatique<br>
                        </fieldset>
                        <hr>
                    </div>
                    <div id="tlr" class="controls col-md-8 " style="display:none">
                        <fieldset id="1" onchange="selectSubElement(1)">
                            <input type="radio" name="1" value="Celebrale"> Celebrale
                            <input type="radio" name="1" value="mesenterique"> mesenterique
                            <input type="radio" name="1" value="Portale"> Portale<br>
                        </fieldset>
                        <hr>
                    </div>
                </div>
                <div id="" class="form-group " >
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"></label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="loca" name="localisation" placeholder=""
                               style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>




                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date du diagnostic
                        : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="date_diagnostique" placeholder=""
                               style="margin-bottom: 10px" type="date"/>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Conditions de découverte :</label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="conditions">
                            <option value="0">Decouverte fortuite</option>
                            <option value="1">Thrombose symptomatique</option>
                        </select>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <h3>Facteur declanchant :</h3>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Activité physique intense</label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_ActivitePhysiqueIntense" value="1"> oui<br>
                        <input type="radio" name="fc_ActivitePhysiqueIntense" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Alitement prolongé suite à une maladie</label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_AlitementProlonge" value="1"> oui<br>
                        <input type="radio" name="fc_AlitementProlonge" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Cancer </label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_Cancer" value="1"> oui<br>
                        <input type="radio" name="fc_Cancer" value="0" checked="checked"> non<br>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Chirurgie sous anesthésie générale </label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_ChirurgieAnesthésieGenerale" value="1"> oui<br>
                        <input type="radio" name="fc_ChirurgieAnesthésieGenerale" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Dépression </label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_Depression" value="1"> oui<br>
                        <input type="radio" name="fc_Depression" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Grossesse </label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_Grossesse" value="1"> oui<br>
                        <input type="radio" name="fc_Grossesse" value="0" checked="checked"> non<br>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Hospitalisation pour une affection médicale aiguë</label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_HospitalisationAffectionMedicaleAigue" value="1"> oui<br>
                        <input type="radio" name="fc_HospitalisationAffectionMedicaleAigue" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Immobilisation sous plâtre</label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_ImmobilisationPlatre" value="1"> oui<br>
                        <input type="radio" name="fc_ImmobilisationPlatre" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Stress psychologique intense</label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_StressPsychologiqueIntense" value="1"> oui<br>
                        <input type="radio" name="fc_StressPsychologiqueIntense" value="0" checked="checked"> non<br>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Voyage en avion > 4 heures </label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_VoyageAvion" value="1"> oui<br>
                        <input type="radio" name="fc_VoyageAvion" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Voyage en voiture > 6 heures</label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_VoyageVoiture" value="1"> oui<br>
                        <input type="radio" name="fc_VoyageVoiture" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> pellule Oestroprogestatif</label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_pellule_oestroprogestatif" value="1"> oui<br>
                        <input type="radio" name="fc_pellule_oestroprogestatif" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> traitement hormonal substituf</label>
                    <div class="controls col-md-8 ">
                        <input type="radio" name="fc_traitement_hormonal_substituf" value="1"> oui<br>
                        <input type="radio" name="fc_traitement_hormonal_substituf" value="0" checked="checked"> non<br>
                    </div>
                </div>
                <hr>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Imagerie diagnostique
                        : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="imagerie_diagnostique">
                            <option value="1">Angiographie</option>
                            <option value="2">Echodoppler</option>
                            <option value="3">IRM</option>
                            <option value="4">Scanner</option>
                            <option value="5">Autre</option>
                        </select>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Traitement
                        antithrombotique : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="sel1" name="traitement_antithrombotique">
                            <option value="1">Arixtra</option>
                            <option value="2">lexiana</option>
                            <option value="3">AVK</option>
                            <option value="4">heparine non fractionel</option>
                            <option value="5">arganova</option>
                            <option value="6">Eliquis</option>
                            <option value="7">Xarelto</option>
                            <option value="8">Fragmine</option>
                            <option value="9">Innohep</option>
                            <option value="10">Lovenox</option>
                            <option value="11">Pradaxa</option>
                        </select>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Dose : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="dose" placeholder=""
                               style="margin-bottom: 10px" type="text"/>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date d'initiation du
                        traitement : </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="date_init_traitement"
                               placeholder="" style="margin-bottom: 10px" type="date"/>
                    </div>
                </div>
                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Durée prévue: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" ="duree_traitement">
                        <option value="1mois" id="">1 mois</option>
                        <option value="3mois" id="">3 mois</option>
                        <option value="6mois" id="">6 mois</option>
                        <option value="indefini" id="">indefini</option>
                        </select>
                    </div>
                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Changement de
                        traitement : </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" onchange="yesnoCheck1('1')" id="ynCheck1"
                                name="changement_traitemnt">
                            <option value="non" id="yesCheck">non</option>
                            <option value="oui" id="noCheck">oui</option>
                        </select>
                    </div>
                </div>
                <div id="field_1" style="display:none">
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Ancien traitement
                            : </label>
                        <div class="controls col-md-8 ">
                            <select class="form-control" id="sel1" name="traitemnt_precedent">
                                <option value="12"></option>
                                <option value="1">Arixtra</option>
                                <option value="2">lexiana</option>
                                <option value="3">AVK</option>
                                <option value="4">heparine non fractionel</option>
                                <option value="5">arganova</option>
                                <option value="6">Eliquis</option>
                                <option value="7">Xarelto</option>
                                <option value="8">Fragmine</option>
                                <option value="9">Innohep</option>
                                <option value="10">Lovenox</option>
                                <option value="11">Pradaxa</option>
                            </select>
                        </div>
                    </div>
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Dose : </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textInput form-control" id="id1" name="dose_prec" placeholder=""
                                   style="margin-bottom: 10px" type="text"/>
                        </div>
                    </div>
                </div>

                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Récidive: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="ynCheck2" onchange="yesnoCheck2('2')" name="recidive">
                            <option value="0">non</option>
                            <option value="1">oui</option>
                        </select>
                    </div>
                </div>

                <div id="field_2" style="display:none">
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date de Recidive en
                            cours de traitement antithrombotique: </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textInput form-control" id="id1" name="recdtat_date" placeholder=""
                                   style="margin-bottom: 10px" type="date"/>
                        </div>
                    </div>

                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Type de récidive
                            : </label>
                        <div class="controls col-md-8 ">
                            <select class="form-control" id="sel1" name="recdtat_type">
                                <option value="4"></option>
                                <option value="1">Aggravation/reapparition des symptomes</option>
                                <option value="2">Extension du thrombus vue a l'imagerie</option>
                                <option value="3">Nouvelle thrombose</option>

                            </select>
                        </div>
                    </div>

                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Localisation
                            : </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textInput form-control" id="id1" name="recdtat_localisation"
                                   placeholder="" style="margin-bottom: 10px" type="text"/>
                        </div>
                    </div>

                </div>


                <div id="" class="form-group ">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Hémoragie: </label>
                    <div class="controls col-md-8 ">
                        <select class="form-control" id="ynCheck3" onchange="yesnoCheck2('3')" name="hemoragie">
                            <option value="0">non</option>
                            <option value="1">oui</option>
                        </select>
                    </div>
                </div>

                <div id="field_3" style="display:none">
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Date de l'hémoragie
                            : </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textInput form-control" id="id1" name="date_hemor" placeholder=""
                                   style="margin-bottom: 10px" type="date"/>
                        </div>
                    </div>
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Charactere de
                            l'hémoragie: </label>
                        <div class="controls col-md-8 ">
                            <select class="form-control" id="sel1" name="charactere_hemor">
                                <option value="oui">spontané</option>
                                <option value="non">provoqué</option>
                            </select>
                        </div>
                    </div>
                    <div id="" class="form-group ">
                        <label for="id-1" class="control-label col-md-4  " style="text-align: left"> Localisation de
                            l'hémoragie </label>
                        <div class="controls col-md-8 ">
                            <input class="input-md  textInput form-control" id="id1" name="local_hemor" placeholder=""
                                   style="margin-bottom: 10px" type="text"/>
                        </div>
                    </div>
                </div>


                <div id="div_id_id_p" class="form-group " style="visibility: hidden">
                    <label for="id-1" class="control-label col-md-4  " style="text-align: left"> id_p<span
                            class="asteriskField">*</span> </label>
                    <div class="controls col-md-8 ">
                        <input class="input-md  textInput form-control" id="id1" name="patient_idpatient" placeholder=""
                               style="margin-bottom: 10px" type="text" value="{{ id }}"/>
                    </div>
                </div>


                <input class="btn btn-default" type="submit" value="Save" class="default" name="save"/>

            </form>
        </div>
    </div>


{% endblock %}
