{% extends 'hemato/base.html' %}

{% block title %}  Hemato DataBase | nouveau patient{% endblock %}


{% block sidebar %}
    <ul class="nav nav-sidebar">


    </ul>
{% endblock %}


{% block content %}
    {% comment %}<h1>Hello sam</h1>
    <button type="button" class="btn btn-default">click me!</button>{% endcomment %}
    <div class="container-fluid">
        <form  method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="entrer le nom du patient" id="txtSearch" name ="name"/>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>


{% endblock %}
